@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Mate);
.front_page{
    height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    z-index: 5;
}
.front_blue_layer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #014c8c;
    opacity: 0.1;
    z-index: -1;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}
.front_page > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15em;
    margin-left: 0.1em;
    margin-top: 0em;
    color: #ebebeb;
}
.front_page > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-left: 2.7em;
    margin-top: 0.1em;
    color: #ebebeb;
}

.front_page > h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-left: 2.7em;
    margin-top: 0.1em;
    color: #ebebeb;
}
.front_profile{
    font-size: 3em;
    color: darkviolet;
}
.front_contact{
    position: absolute;
    top:0;
    right: 0;
    width: 120px;
    background-color: #dff0d8;
    border: 2px solid white;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.front_text{
    color: #ebebeb;
    font-family: 'Montez', cursive;
    font-size: 4em;
}

.front_text_paragraph{
    color: white;
    text-align: center;
    font-family: 'Mate', serif;
    font-size: 1.1em;
}