body{
    height: 100%;
    overflow: hidden;
    background: #4CA1AF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4CA1AF , #C4E0E5);
}
.full_page{
    height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}