.page_4 {
    width: 100%;
    position: relative;
    padding-bottom: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.page_4 > .col-md-6 > h1{
    font-size: 3vw;
    color:whitesmoke;
    font-family: 'Bree Serif', serif;
}
.page_5 {
    width: 100%;
    position: relative;
    padding-bottom: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 9;
}
.page_5 > .col-md-6 > h1{
    font-size: 3vw;
    color:whitesmoke;
    font-family: 'Bree Serif', serif;
}

.page_6 {
    width: 100%;
    position: relative;
    /* Breaks the page in Chrome 53 */
    /*z-index: -1;*/
}
.poster_back, .poster_stable{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.poster_back{
    z-index: 7;
    -webkit-transform: translateZ(-100px) scale(1.75) translateY(-150px);
    -moz-transform: translateZ(-30px) scale(1.75) translateY(-150px);
    -ms-transform: translateZ(-30px) scale(1.75) translateY(-150px);
    -o-transform: translateZ(-30px) scale(1.75) translateY(-150px);
    transform: translateZ(-200px) scale(1.5);
}
.poster_stable{
    z-index: 7;
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}

.page_6 > .skills_and_tools > h1{
    font-size: 4vw;
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
}

.page_7 > .col-md-12 > h1{
    font-size: 4vw;
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
}
.page_7 {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 10;
}
.page_7 > .col-md-12 > h2{
    text-align: center;
    color: #faf2cc;
    font-family: 'Bree Serif', serif;
    font-size: 2vw;
}
.page_7 > .col-md-6 > .col-md-12 > .center-block > a{
    color: white;
    text-decoration: none;
}


.page_5_1 {
    width: 100%;
    position: relative;
    padding-bottom: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 9;
}
.page_5_1 > .col-md-4 > .animated_video > h1{
    font-size: 3vw;
    color:whitesmoke;
    font-family: 'Bree Serif', serif;
}
.page_5_1 > .col-md-4 > img{
    height: 100%;
}
.page_5_1 > .col-md-4{
    height: 50vh;
}
.animated_video{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}