@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre);
.page_2_back {
    background-color: floralwhite;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -9;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    opacity: 1;
}
.page_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.page_2_work_back{
	height: 100%;
	padding: 0;
	background-color: #D8335B; 
}
.page_2_education_back{
	height: 100%;
	padding: 0;
	background-color: #19B5FE;
}
.page_2_work_head{
    color: #ebebeb;
    font-family: 'Montez', cursive;
    font-size: 4em;
	margin-top: 0.2em;
}
.page_2_education_head{
    color: #ebebeb;
    font-family: 'Montez', cursive;
    font-size: 4em;
	margin-top: 0.2em;
}
.page_2_work{
	color: white;
	font-family: 'Averia Serif Libre', cursive;
	padding-right: 0;
}
.page_2_education{
	color: white;
	font-family: 'Averia Serif Libre', cursive;
	padding-left: 0;
}
.IS_Sidebar{
	background-color: azure;
	width: 7px;
	right: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_work_IS > h2, h5{
	margin-right: 20px;
}
.IC_Sidebar{
	background-color: brown;
	width: 7px;
	right: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_work_IC > h2, h5{
	margin-right: 20px;
}
.SE_Sidebar{
	background-color: cadetblue;
	width: 7px;
	right: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_work_SE > h2, h5{
	margin-right: 20px;
}
.SSC_Sidebar{
	background-color: darkcyan;
	width: 7px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_education_SSC > h2, h5{
	margin-left: 20px;
}
.HSC_Sidebar{
	background-color: darkgreen;
	width: 7px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_education_HSC > h2, h5{
	margin-left: 20px;
}
.CSE_Sidebar{
	background-color: deepskyblue;
	width: 7px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_education_CSE > h2, h5{
	margin-left: 20px;
}