.page_3 {
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.software_dev_color{
    background-color: #249991;
}
.sql_color{
    background-color: #F2784B;
}
.webdev_color{
    background-color: #00B5B5;
}
.webdev_color > h5{
    color: white !important;
}
.sql_front, .sql_back, .sql_stable{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.sql_front{
    z-index: 8;
    -webkit-transform: translateZ(200px) scale(2);
    -moz-transform: translateZ(40px) scale(2);
    -ms-transform: translateZ(40px) scale(2);
    -o-transform: translateZ(40px) scale(2);
    transform: translateZ(200px) scale(0.35) translateY(-50px);
}
.sql_back{
    z-index: 8;
    -webkit-transform: translateZ(-100px) scale(1.75) translateY(-150px);
    -moz-transform: translateZ(-30px) scale(1.75) translateY(-150px);
    -ms-transform: translateZ(-30px) scale(1.75) translateY(-150px);
    -o-transform: translateZ(-30px) scale(1.75) translateY(-150px);
    transform: translateZ(-200px) scale(1.5);
}
.sql_stable{
    z-index: 7;
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}
.page_3 > .skills_and_tools > h1{
    font-size: 4vw;
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
}
.skills_and_tools{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 9;
}