@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre);
.page_2 {
    width: 100%;
	margin: 0;
    position: relative;
    z-index: 3;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
	padding-bottom: 10vh;
}
.page_2_work_head{
    color: #ebebeb;
	position: relative;
	right: 0;
	width: 100%;
}
.page_2_work_head > h1{
	position: relative;
	text-align: right;
	font-family: 'Bree Serif', serif;
	font-size: 4vw;
	padding-right: 1vw;
	color: #2aabd2;
	margin-bottom: 0;
}

.page_2_education_head{
	color: #ebebeb;
	position: relative;
}
.page_2_education_head > h1{
	position: relative;
	font-family: 'Bree Serif', serif;
	font-size: 4vw;
	padding-left: 1vw;
	color: deeppink;
	margin-bottom: 0;
}
.page_2_work{
	color: white;
	font-family: 'Averia Serif Libre', cursive;
	padding: 0;
}
.page_2_education{
	color: white;
	font-family: 'Averia Serif Libre', cursive;
	padding-left: 0;
}
.IS_Sidebar{
	background-color: azure;
	width: 7px;
	right: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_work_IS > h2, h5{
	margin-right: 20px;
}
.IC_Sidebar{
	background-color: brown;
	width: 7px;
	right: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_work_IC > h2, h5{
	margin-right: 20px;
}
.SE_Sidebar{
	background-color: cadetblue;
	width: 7px;
	right: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_work_SE > h2, h5{
	margin-right: 20px;
}
.SSC_Sidebar{
	background-color: darkcyan;
	width: 7px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_education_SSC > h2, h5{
	margin-left: 20px;
}
.HSC_Sidebar{
	background-color: darkgreen;
	width: 7px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_education_HSC > h2, h5{
	margin-left: 20px;
}
.CSE_Sidebar{
	background-color: deepskyblue;
	width: 7px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: 2px 0px 10px 0px rgba(46,46,46,0.75);
}
.page_2_education_CSE > h2, h5{
	margin-left: 20px;
}

.EX_Sidebar{
	background-color: #2aabd2;
	width: 7px;
	right: 0;
	position: absolute;
	bottom: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	height: 100%;
}

.ED_Sidebar{
	background-color: deeppink;
	width: 7px;
	left: 0;
	position: absolute;
	bottom: 0;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	-moz-box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	box-shadow: -2px 0px 10px 0px rgba(46,46,46,0.75);
	height: 100%;
}