@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.skills_first{
    height: 100%;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    background: #1CD8D2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CD8D2 , #93EDC7);
    position: relative;
}
.skills_second{
    height: 100%;
    position: relative;
}
.circle{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border: 2px solid #2ABB9B;
    display: block;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 100;
    opacity: 0;
}
.software_dev_color{
    background-color: #1f7e9a;
}
.sql_color{
    background-color: #F2784B;
}
.webdev_color{
    background-color: #2ABB9B;
    border: 2px solid white!important;
}
.webdev_color > h5{
    color: #d9edf7 !important;
}
.circle_hover{
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}
.center-circle{
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s ease-in;
    -webkit-animation: dash 3s ease-in;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash {
    0%{
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}