@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.skills_first{
    height: 100%;

}
.skills_second{
    height: 100%;
}
.circle{
    width: 20%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border: 2px solid white;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0;
}
.software_dev_color{
    background-color: #1f7e9a;
}
.webdev_color{
    background-color: linen;
}
.webdev_color > h5{
    color: #2b2d2f !important;
}
.circle_hover{
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}
.center-circle{
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}